<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to 'Home', articles_path, class: "navbar-brand"%>
      <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">Menu</button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
        <li><%= link_to 'Tags', tags_path%></li>
      </ul>
      <p class="navbar-text navbar-right">
        <% if logged_in? %>
          <%= "Logged in as #{current_user.username}" %>
          <%= link_to "(logout)", logout_path  %>
        <% else %>
          Logged out
          <%= link_to "(login)", login_path %>
        <% end %>
      </p>
  </nav>
  <p class="flash">
    <%= flash.notice %>
  </p>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
